<div class="table-responsive">
  <div class="m-3">
      <p class="headerAng">User Info</p>
      <p class="excelIcon">
       <a  (click)="exportexcel()"> <i class="fa fa-file-excel-o fa_custom" ></i></a>
     <span (click)="openPDFinit()" id="boot-icon" class="bi bi-file-pdf"></span>
      </p>
    <table  class="table table-striped" id="table">
      <thead>
        <tr>
          <th scope="col-responsive">User Name</th>
          <th scope="col-responsive">Date of Birth</th>
          <th scope="col">Gender</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody *ngIf="users.length > 0">
        <tr
          *ngFor="
            let user of users
            | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              }
                  ;
           
          "
        >
      
        
          <td>{{ user.userName  }}</td>
          <td>{{ user.dateOfBirth }}</td>
          <td>{{ user.gender  }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
     <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div> 
  </div>
  </div>